/* src/App.css */
.app-container {
  display: flex;
  height: calc(100vh - 56px);
  width: 100%;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 1rem;
  width: 15%; /* Sidebar width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Allow scrolling for overflow */
}

.map-container {
  flex-grow: 1; /* Take remaining space */
  height: 100%; /* Full height */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.sidebar button {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signup-button {
  margin-top: auto;
  margin-left: 50px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #45a049;
}

.login-button {
  margin-top: auto;
  margin-left: 80px;
  padding: 10px;
  background-color: #f68131;
  color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f66809;
}

.back-button {
  margin-top: auto;
  margin-left: 100px;
  padding: 10px;
  background-color: #3861df;
  color: white;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #224dcd;
}

.account-button {
  margin-top: auto;
  margin-left: 38%;
  padding: 10px;
  background-color: #9b9b9b;
  color: white;
  border: none;
  cursor: pointer;
}

.account-button:hover {
  background-color: #818181;
}

.map {
  width: 100%;
  height: 100%;
}

.brand-style {
  font-size: 1.75rem; /* Adjust size as needed */
  font-weight: bold;  /* Make it bold */
}
